files:
  "/etc/php-fpm.d/z-www.conf":
    mode: "000644"
    content : |
      [www]
      pm.max_children = 10
      pm.max_spare_servers = 8
  "/etc/php.d/z-php.ini":
    mode: "000755"
    owner: root
    group: root
    content: |
      upload_max_filesize=128M
      post_max_size=128M
      max_input_vars=2048